   <div style="background-color: bisque;">
   <h1 style="color: blue;">Login de usuario</h1>
   <form method="post" action="/api/doLogin">
        <div class="form-group">
          <label for="formGroupExampleInput" name="usuario"><i>Ingrese su nombre:</i></label>
          <input name="usuario" id="usuario" type="text" class="form-control" id="formGroupExampleInput" placeholder=""><br>
            <input type="submit" class="btn btn-primary" value="Enviar">
        </div>
    </div>